# sample config for interlock
listenAddr = ":8080"
dockerURL = "unix:///var/run/docker.sock"

[[extensions]]
name = "haproxy"
configPath = "/usr/local/etc/haproxy/haproxy.cfg"
pidPath = "/usr/local/etc/haproxy/haproxy.pid"
backendOverrideAddress = ""
connectTimeout = 10
serverTimeout = 10
clientTimeout = 30
maxConn = 1024
port = 80
syslogAddr = ""
adminUser = "admin"
adminPass = "interlock"
sslCert = ""
sslPort = 443
sslOpts = ""
