# sample config for interlock
ListenAddr = ":8080"
DockerURL = "unix:///var/run/docker.sock"
TLSCACert = ""
TLSCert = ""
TLSKey = ""
AllowInsecure = false
EnableMetrics = true
HeartbeatInterval = 60

[[extensions]]
    Name = "nginx"
    ConfigPath = "nginx.conf"
    PidPath = "nginx.pid"
    BackendOverrideAddress = ""
    ConnectTimeout = 5000
    ServerTimeout = 10000
    ClientTimeout = 10000
    MaxConn = 1024
    Port = 80
    SyslogAddr = ""
    NginxPlusEnabled = false
    AdminUser = "admin"
    AdminPass = ""
    SSLCertPath = ""
    SSLCert = ""
    SSLPort = 0
    SSLOpts = ""
    User = "www-data"
    WorkerProcesses = 2
    RLimitNoFile = 65535
    ProxyConnectTimeout = 600
    ProxySendTimeout = 600
    ProxyReadTimeout = 600
    SendTimeout = 600
    SSLCiphers = "HIGH:!aNULL:!MD5"
    SSLProtocols = "SSLv3 TLSv1 TLSv1.1 TLSv1.2"

[[extensions]]
    Name = "beacon"
    StatInterval = 10
